<h1>New comment</h1>

<%= turbo_frame_tag "New Comment", target: "_top" do %>
  <%= form_with(model: [ @comment.post, @comment ],
                data: {controller: "reset_form", action: "turbo:submit-end->reset_form#reset"}) do |form| %>

    <div>
      <%= form.label :body, style: "display: block" %>
      <%= form.text_area :body %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<br>

<div>
  <%= link_to "Back to comments", @comment.post %>
</div>
